.wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  top: 0px;
  left: 0px;
  display: flex;
}

.loading {
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto; /*Centraliza o item na vertical e na horizontal, pois o elemento pai é display flex*/
  width: 80px;
  height: 80px;
  padding-left: 5px; /*Para que o item fique totalmente ao centro*/
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
