.nav {
  display: flex;
  gap: 1rem;
}

.nav a,
.button {
  background-color: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.1s;
}

.nav a:hover,
.nav a:focus,
.button:hover,
.button:focus {
  background-color: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
  outline: none;
}

.nav a:global(.active) {
  border-color: #fb1;
  box-shadow: 0 0 0 3px #fea;
  background-color: white;
}

/*Fala com todos os elementos dentro do SVG*/
.nav a:global(.active) svg > * {
  fill: #fb1;
}

@media (max-width: 40rem) {
  .navMobile {
    display: block;
    position: absolute;
    top: 70px;
    right: 0px;
    padding: 0 1rem;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem;
    transform: translateX(-10px);
    opacity: 0;
    pointer-events: none;
  }

  .navMobileActive {
    transition: 0.3s;
    opacity: 1;
    transform: initial;
    z-index: 100;
    pointer-events: initial;
  }

  .navMobile a,
  .navMobile button {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: 0;
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid #eee;
    box-shadow: none;
    cursor: pointer;
  }

  .navMobile button:hover,
  .navMobile button:focus {
    background-color: white;
    box-shadow: 0 0 0 3px transparent;
    border-color: transparent;
  }

  .navMobile a:hover svg > *,
  .navMobile button:hover svg > * {
    fill: #fb1;
  }

  .navMobile svg {
    margin-right: 0.5rem;
  }

  .navMobile button {
    border-bottom: none;
  }

  .mobileButton {
    background-color: #eee;
    border-radius: 0.2rem;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 3px transparent;
    padding: 0;
    border: 1px solid transparent;
    cursor: pointer;
  }

  .mobileButton::after {
    content: "";
    display: block;
    background-color: currentColor;
    width: 1.2rem;
    height: 2px;
    border-radius: 2px;
    box-shadow: 0 6px currentColor, 0 -6px currentColor;
    transition: 0.2s;
  }

  .mobileButton:hover,
  .mobileButton:focus,
  .mobileButtonActive {
    outline: none;
    background-color: white;
    box-shadow: 0 0 0 3px #fea;
    border-color: #fb1;
    color: #fb1;
  }

  .mobileButtonActive::after {
    transform: rotate(-90deg);
    width: 4px;
    height: 4px;
    box-shadow: 0 8px currentColor, 0 -8px currentColor;
  }
}
