@media (max-width: 800px) {
  .menuMobile {
    display: flex;
    place-items: center;
    max-width: 3rem;
    background-color: #eee;
    box-shadow: 0 0 0 3px transparent;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 0.2rem;
    position: relative;
  }

  .menuMobile::before {
    content: "";
    background-color: #333;
    width: 25px;
    height: 2px;
    border-radius: 6px;
    box-shadow: 0 6px #333, 0 -6px #333;
  }

  .menuMobileActive {
    background-color: white;
    box-shadow: 0 0 0 3px #fea;
    border: 1px solid #fb1;
  }

  .menuMobileActive::before {
    content: "";
    background-color: #fb1;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    box-shadow: 0 8px #fb1, 0 -8px #fb1;
    rotate: 90deg;
  }
}
