.comments {
  overflow-y: auto; /*Permite criar uma barra de scroll*/
  word-break: break-word;
  padding: 0 2rem;
}

.comments li {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.single.comments {
  padding: 0px;
}
